<mat-toolbar class="mat-elevation-z6" color="primary">
  <mat-toolbar-row>
    <span>Parts</span> <span class="spacer"></span>
    <button type="button" aria-label="add" mat-icon-button (click)="addPart()">
      <mat-icon aria-label="add icon">add</mat-icon>
    </button>
    <button
      type="button"
      aria-label="settings"
      mat-icon-button
      routerLink="/settings"
    >
      <mat-icon aria-label="settings icon">settings</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="(dataSource.loading$ | async)">
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</div>

<div class="global-content">
  <table
    mat-table
    class="full-width-table"
    [dataSource]="dataSource"
    matSort
    aria-label="Elements"
  >
    <ng-container *ngFor="let col of displayedColumns" matColumnDef="{{ col }}">
      <th mat-header-cell *matHeaderCellDef>
        {{ col | uppercase }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element[col] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onRowClicked(row)"
    ></tr>
  </table>
</div>
