/* Application-wide Styles */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-toolbar .spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar-row .mat-fab {
  position: fixed;
  left: 16px;
  top: 100px;
}

.global-content {
  margin: 20px;
}
