<form *ngIf="partForm" [formGroup]="partForm" (ngSubmit)="onSubmit()">
  <mat-card class="part-card">
    <mat-card-header>
      <mat-card-title>Part Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="part">
        {{part | json}}
      </div>
      <div *ngIf="partForm">
        {{partForm.value | json}}
      </div>
      <div *ngFor="let field of partForm.controls | keys; first as isFirst; last as isLast">
        <div class="row" *ngIf="!isLast">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput [placeholder]="field | uppercase" [formControlName]="field" [readonly]="isFirst">
              <mat-error *ngIf="partForm.controls[field].hasError('required')">
                {{field | uppercase}} is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div formGroupName="customFields">
        <div *ngFor="let field of partForm.get('customFields').controls | keys; first as isFirst; last as isLast">
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput [placeholder]="field | uppercase" [formControlName]="field">
                <mat-error *ngIf="partForm.controls['customFields'].controls[field].hasError('required')">
                  {{field | uppercase}} is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!partForm.valid">Submit</button>
      <button mat-raised-button color="accent" type="button" (click)="goBack()">go back</button>
    </mat-card-actions>
  </mat-card>
</form>
