<form [formGroup]="partForm" (ngSubmit)="onSubmit()">
  <mat-card class="part-card">
    <mat-card-header>
      <mat-card-title>Part Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="ID" formControlName="id" readonly>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Library" formControlName="library">
            <mat-error *ngIf="partForm.controls['library'].hasError('required')">
              Library is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Reference" formControlName="reference">
            <mat-error *ngIf="partForm.controls['reference'].hasError('required')">
              Reference is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Value" formControlName="value">
            <mat-error *ngIf="partForm.controls['value'].hasError('required')">
              Value is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Symbol" formControlName="symbol">
            <mat-error *ngIf="partForm.controls['symbol'].hasError('required')">
              Symbol is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Footprint" formControlName="footprint">
            <mat-error *ngIf="partForm.controls['footprint'].hasError('required')">
              Footprint is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Datasheet" formControlName="datasheet">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Description" formControlName="description">
            <mat-error *ngIf="partForm.controls['description'].hasError('required')">
              Description is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Keywords" formControlName="keywords">
            <mat-error *ngIf="partForm.controls['keywords'].hasError('required')">
              Keywords is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!partForm.valid">Submit</button>
      <button mat-raised-button (click)="goBack()">go back</button>
    </mat-card-actions>
  </mat-card>
</form>
