<mat-toolbar class="mat-elevation-z6" color="primary">
  <button type="button" aria-label="back" mat-icon-button (click)="goBack()">
    <mat-icon aria-label="back icon">arrow_back</mat-icon>
  </button>
  <span>Settings</span>
</mat-toolbar>
<div class="global-content">
  <mat-nav-list>
    <a mat-list-item routerLink="/settings/fields">Fields</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/settings/paths">Paths</a>
    <mat-divider></mat-divider>
  </mat-nav-list>
</div>
