/* Application-wide Styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.global-toolbar-spacer {
  flex: 1 1 auto;
}

.global-content {
  margin: 20px
}
