<mat-toolbar class="mat-elevation-z6" color="primary">
  <mat-toolbar-row>
    <span>Parts</span> <span class="spacer"></span>
    <button
      type="button"
      aria-label="settings"
      mat-icon-button
      routerLink="/settings"
    >
      <mat-icon aria-label="settings icon">settings</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-fab color="accent" type="button" (click)="addPart()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="global-content">
  <table
    mat-table
    class="full-width-table"
    [dataSource]="dataSource"
    matSort
    aria-label="Elements"
  >
    <ng-container
      *ngFor="let col of displayedColumns; let colIndex = index"
      matColumnDef="{{ col }}"
    >
      <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element[col] | objectCell }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onRowClicked(row)"
    ></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[10, 25, 50, 100, 250]"
  >
  </mat-paginator>
</div>
