<form *ngIf="settingsForm" [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
  <mat-card class="settings-card">
    <mat-card-header>
      <mat-card-title>Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h2>Custom Fields</h2>
      <div formArrayName="customFields" *ngFor="let fields of settingsForm.get('customFields').controls; let i = index;">
        <div class="row">
          <div class="col">
            <button mat-button type="button" (click)="removeCustomField(i)">x</button>
            <mat-form-field class="full-width">
              <input matInput placeholder={{i+1}} formControlName={{i}}>
              <mat-error *ngIf="settingsForm.get('customFields').at(i).hasError('required')">
                Library is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button mat-mini-fab type="button" (click)="addCustomField()">+</button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!settingsForm.valid">Submit</button>
      <button mat-raised-button color="accent" type="button" (click)="goBack()">go back</button>
    </mat-card-actions>
  </mat-card>
</form>
