<form *ngIf="settingsForm" [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
  <mat-card class="settings-card">
    <mat-card-header>
      <mat-card-title>Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Custom Fields
          </mat-panel-title>
          <mat-panel-description>
            Edit custom fields of parts
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div formArrayName="customFields">
          <div *ngFor="let field of customFields.controls; index as i;">
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput [placeholder]="i+1" [formControlName]=i>
                  <button mat-button matSuffix mat-icon-button aria-label="Delete" (click)="removeCustomField(i)">
                    <mat-icon>close</mat-icon>
                  </button>
                  <mat-error *ngIf="settingsForm.get('customFields').at(i).hasError('required')">
                    Value is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button mat-mini-fab type="button" (click)="addCustomField()">+</button>
          </div>
        </div>

      </mat-expansion-panel>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!settingsForm.valid">Submit</button>
      <button mat-raised-button color="accent" type="button" (click)="goBack()">go back</button>
    </mat-card-actions>
  </mat-card>
</form>
